<a href="https://colab.research.google.com/github/rugellioliveira/Lista-de-Exercicios-Introdutorios/blob/main/ExerciciosIntrodutorios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escreva um programa que mostre a mensagem 'Hello World!' na tela.

In [ ]:
#Exercício 01
print('Hello World')

Hello World

Faça um programa que solicite um número do usuário e apresente a seguinte mensagem na tela:

"O número digitado foi [número]".

In [ ]:
#Exercício 02
numero = input('Digite um número: ')
print('O número digitado foi: ', numero)

Digite um número: 2
O número digitado foi:  2

Escreva um programa que solicite o nome e o sobrenome do usuário. Ao final o programa deverá apresentar o nome completo do usuário na tela.

In [ ]:
#Exercício 03:
nome = input('Digite o primeiro nome: ').strip().title()
sobrenome = input('Digite o sobrenome: ').strip().title()

print(nome + ' ' + sobrenome)

Digite o primeiro nome: José
Digite o sobrenome: Silva
José Silva

Faça um programa que solicite três números inteiros do usuário e imprima a soma destes.

In [ ]:
# Exercício 04:
num1 = int(input('Número1: '))
num2 = int(input('Número2: '))
num3 = int(input('Número3: '))
print(f'{num1} + {num2} + {num3} = {num1+num2+num3}')

Número1: 1
Número2: 2
Número3: 3
1 + 2 + 3 = 6

Escreva um programa que solicite duas notas do usuário e apresente a média na tela da seguinte forma:

"A média das notas [nota1] e [nota2] é [média]"

In [ ]:
#Exercício 05:
nota1 = float(input('Nota1: '))
nota2 = float(input('Nota2: '))

print('A média das notas ', nota1, ' e ', nota2, ' é ', (nota1+nota2)/2)

Nota1: 4
Nota2: 6
A média das notas  4.0  e  6.0  é  5.0

Faça um programa que calcule a raiz quadrada de um número. O usuário deve inserir um número e o programa deve mostrar na tela o resultado da raiz quadrada do número inserido.

In [ ]:
#Exercício 06:
num = float(input('Digite um número: '))
print('A raiz quadrada do número ', num, ' é ', num**(1/2))

Digite um número: 2
A raiz quadrada do número  2.0  é  1.4142135623730951

Faça um programa que peça 5 números de ponto flutuante do usuário e apresente no final a média dos números digitados.

In [ ]:
#Exercício 07:
num1 = float(input('Digite o número 1: '))
num2 = float(input('Digite o número 2: '))
num3 = float(input('Digite o número 3: '))
num4 = float(input('Digite o número 4: '))
num5 = float(input('Digite o número 5: '))
media = (num1+num2+num3+num4+num5)/5
print('A média dos cinco números é: ', media)

Digite o número 1: 1
Digite o número 2: 2
Digite o número 3: 3
Digite o número 4: 4
Digite o número 5: 5
A média dos cinco números é:  3.0

Escreva um programa que faça a conversão de um dado valor de metro para quilômetro.

In [ ]:
#Exercício 8:
valor = float(input('Digite o valor em metros: '))
quilometro = valor/1000
print(valor,' metros equivale a ', quilometro, ' km')

Digite o valor em metros: 100
O valor convertido para quilômetros é:  0.1  km

Escreva um programa que calcule a área de uma circunferência. O usuário deve digitar o valor do raio e ao final o programa deverá mostrar na tela a área da circunferência.

Use a fórmula: área=pi*r² , em que pi é uma constante e r o raio da circunferência.

Dica: você pode usar a biblioteca math para pegar a constante pi.

In [ ]:
#Exercício 09:
from math import pi
raio = float(input('Digite o valor do raio da circunferência: '))
print(f'A área da circunferência é: {round(pi*raio**2,2)}')

Digite o valor do raio da circunferência: 2
A área da circunferência é: 12.57

Faça um programa que peça uma temperatura em Fahrenheit (F) e converta esta temperatura para grau Celsius (C), mostrando o resultado da conversão na tela.

Use a fórmula: C = 5 * ((F-32) / 9).

In [ ]:
#Exercício 10:
farenheit = float(input("Digite a temperatura em Farenheit: "))
celcius = 5 * ((farenheit-32)/9)
print(f'A temperatura {round(farenheit,2)} °F equivale a {round(celcius,2)} °C')

Digite a temperatura em Farenheit: 10
A temperatura 10.0 °F equivale a -12.22 °C

Escreva um programa que peça dois números e apresente a divisão e multiplicação entre eles. A tela de apresentação deverá seguir o seguinte formato:

"[número1]x[número2]=[multiplicação]"

"[número1]/[número2]=[divisão]"

In [ ]:
#Exercício 11:
num1 = float(input("Digite o número 1: "))
num2 = float(input("Digite o número 2: "))
multiplicacao = num1 * num2
divisao = num1 / num2
print(f'A multiplicação é: {num1} x {num2} = {round(multiplicacao,2)} \nA divisão é: {num1} / {num2} = {round(divisao,2)}')

Digite o número 1: 2
Digite o número 2: 2
A multiplicação é: 2.0 x 2.0 = 4.0
A divisão é: 2.0 / 2.0 = 1.0

Escreva um programa que receba o nome, sobrenome e idade do usuário e apresente a seguinte mensagem na tela:

"Seja bem-vindo [nome] [sobrenome]."

"Você possui [idade] anos de idade."

No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e depois da string, enquanto que o último permite colocar a string no formato titlecased (capitaliza a string).

In [ ]:
#Exercício 12:
nome = input('Digite seu nome: ')
sobrenome = input('Digite seu sobrenome: ')
idade = int(input('Digite sua idade: '))
print(f'Seja bem-vindo {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade')

Digite seu nome: José
Digite seu sobrenome: Silva
Digite sua idade: 10
Seja bem-vindo José Silva
Você possui 10 anos de idade

Escreva um programa que peça um número do usuário via método input e converta esse número para o formato float.

In [ ]:
#Exercício 13:
numero = input('Digite um número: ')
numero = float(numero)
print(type(numero))

Digite um número: 12
<class 'float'>

Escreva um programa que peça o nome e a idade do usuário. Caso a idade do usuário seja maior ou igual a 18 anos apresente a seguinte mensagem: "Seja bem-vindo ao nosso site [nome]!"; caso contrário, apresente a seguinte mensagem: "Você não pode acessar nosso site [nome].".

In [ ]:
#Exercício 14:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))

if idade >= 18:
  print(f'Seja bem-vindo ao nosso site {nome.strip().title()}')
else:
  print(f'Você não pode acessar nosso site {nome.strip().title()}')

Digite seu nome: José
Digite sua idade: 12
Você não pode acessar nosso site José

Elabore um programa para calcular a hipotenusa de um triângulo.

Dicas:

Veja o módulo math (math.hypot)

Utilize a seguinte fórmula: hipotenusa=(a²+b²)¹/2:

In [ ]:
#Exercício 15
from math import hypot
cateto_oposto = float(input('Digite o cateto oposto: '))
cateto_adjacente = float(input('Digite o cateto adjacente: '))
hipotenusa1 = (((cateto_oposto**2)+(cateto_adjacente**2))**(1/2))
hipotenusa2 = hypot(cateto_oposto, cateto_adjacente)

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Digite o cateto oposto: 5
Digite o cateto adjacente: 4
Hipotenusa: 6.4031242374328485
Hipotenusa: 6.4031242374328485

Faça um programa que recebe um número inteiro do usuário e calcule o fatorial deste número.
Dica: utilize o módulo math do Python, especificamente math.fatorial.

In [ ]:
#Exercício 16
import math
num = int(input('Digite o número: '))
fatorial1 = math.factorial(num)

print(f'O fatorial de {num} é {fatorial1}')

#Usando loop
n = num
fatorial2 = 1
while n>0:
  fatorial2 = fatorial2 * n
  n-=1

print(f'O fatorial de {num} é {fatorial2}')

Digite o número: 5
O fatorial de 5 é 120
O fatorial de 5 é 120

Escreva um programa que peça um número do usuário e calcule o logaritmo deste número nas bases 10 e 2.

Dica: utilize o módulo math.

In [ ]:
#Exercício 17
import math
num = float(input('Digite o número: '))
log1 = math.log10(num)
log2 = math.log(num, 2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite o número: 10
O log de 10.0 na base 10 é 1.0
O log de 10.0 na base 2 é 3.3219280948873626

Faça um programa que peça a base e a altura de um retângulo e calcule e mostre na tela a área e o perímetro.

In [ ]:
#Exercício 18
base = float(input('Digite o valor da base: '))
altura = float(input('Digite o valor da altura: '))
area = base*altura/2
perimetro = 2*base + 2*altura

print(f'O triângulo tem base {base}m e altura {altura}m')
print(f'A área do triângulo é: {area}m^2')
print(f'O perímetro do triângulo é: {perimetro}m')

Digite o valor da base: 2
Digite o valor da altura: 2
O triângulo tem base 2.0m e altura 2.0m
A área do triângulo é: 2.0m^2
O perímetro do triângulo é: 8.0m

Escreva um programa que solicite o nome, o sobrenome e o salário atual de um funcionário. Ao fim, calcule seu novo salário considerando cenários hipotéticos, com os seguintes aumentos: 10%, 25%,30% e 50%. A mensagem na tela deverá seguir o seguinte padrão:

"Olá, [nome] [sobrenome]"

"Seu salário atual é : [salário]"

"Seu salário com 10% de aumento é: [salário]"

"Seu salário com 25% de aumento é: [salário]"

"Seu salário com 30% de aumento é: [salário]"

"Seu salário com 50% de aumento é: [salário]"

No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e após a string, enquanto que o último permite colocar a string no formato titlecased (capitaliza string).

In [ ]:
#Exercício 19
nome = input('Digite o nome: ')
sobrenome = input('Digite o sobrenome: ')
salario = float(input('Digite o salário: '))
print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R${salario}')
print(f'Seu salário com 10% de aumento é: R${round(salario*1.1,2)}')
print(f'Seu salário com 25% de aumento é: R${round(salario*1.25,2)}')
print(f'Seu salário com 30% de aumento é: R${round(salario*1.3,2)}')
print(f'Seu salário com 50% de aumento é: R${round(salario*1.5,2)}')

Digite o nome: José
Digite o sobrenome: Silva
Digite o salário: 2500
Olá, José  Silva
Seu salário atual é: R$2500.0
Seu salário com 10% de aumento é: R$2750.0
Seu salário com 25% de aumento é: R$3125.0
Seu salário com 30% de aumento é: R$3250.0
Seu salário com 50% de aumento é: R$3750.0

Escreva um programa que peça um número inteiro do usuário e calcule e imprima a tabuada deste número.

In [ ]:
#Exercício 20
num = int(input('Digite um número inteiro: \n'))
print(f'A tabuada do número {num} é: ')
for n in range(11):
  print(f'{num} x {n} = {num*n}')

Digite um número inteiro:
5
A tabuada do número 5 é:
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Faça um programa que solicite um número inteiro e mostre o seu valor absoluto. Dica: use a função built-in abs().

In [ ]:
#Exercício 21
num = int(input('Digite um valor inteiro: '))
print(f'O valor absoluto do número {num} é {abs(num)}')

Digite um valor inteiro: -5
O valor absoluto do número -5 é 5

Faça um programa que peça uma string ao usuário e mostre na tela a quantidade de caracteres.

Dica: use a função built-in len() e trate a string com o método strip().

In [ ]:
#Exercício 22
string = input('Digite algo: ')
print(f'Você digitou {len(string)} caracteres')

Digite algo: teste
Você digitou 5 caracteres

Escreva um programa que peça um número inteiro do usuário e mostre se esse número é par ou ímpar. A mensagem na tela deverá seguir o seguinte formato:

"O número [número] é [par/ímpar]"

In [ ]:
#Exercício 23
num = int(input('Digite um número: '))
if num % 2 == 0:
  print(f'O número {num} é par')
else:
  print(f'O número {num} é ímpar')

Digite um número: 3
O número 3 é ímpar

O Índice de Massa Corporal (IMC) é utilizado para mensurar o peso ideal de uma pessoa. Escreva um programa que peça o nome, a idade , o peso e a altura do usuário. Ao final calcule e mostre o resultado do seu IMC e classifique este resultado de acordo com a regra a seguir.

IMC<17 - Muito abaixo do peso ideal

17<=IMC<18,5 - Abaixo do peso

18,5<=IMC<25 - Peso normal

25<=IMC<30 - Acima do peso

30<=IMC<35 - Obesidade I

35<=IMC<40 - Obesidade II (severa)

IMC>=40 - Obesidade III (mórbida)

Lembre que: IMC=massa/(altura*altura)

In [ ]:
#Exercício 24
print('Cálculo do IMC')
altura=float(input('Insira sua altura : \n'))
peso=float(input('Insira seu peso : \n'))
imc=peso/(altura**2)
print('Processando seus dados...')
if imc<17:
    print('Muito abaixo do peso.')
elif 17<=imc<18.5:
    print('Abaixo do peso.')
elif 18.5<=imc<25:
    print('Peso normal.')
elif 25<=imc<30:
    print('Acima do peso.')
elif 30<=imc<35:
    print('Obesidade Grau I.')
elif 35<=imc<40:
    print('Obesidade Grau II (severa).')
else:
    print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Insira sua altura :
1.50
Insira seu peso :
45
Processando seus dados...
Peso normal.

Escreva um programa que receba dois números de ponto flutuante e mostre na tela o maior número digitado. Considere a possibilidade de o usuário digitar dois números iguais.

In [ ]:
#Exercício 25:
n1 = float(input('Digite o número 1: '))
n2 = float(input('Digite o número 2: '))
if n1 > n2:
  print(f'{n1} é maior que {n2}')
elif n1 < n2:
  print(f'{n2} é maior que {n1}')
else:
  print(f'{n1} é igual a {n2}')

Digite o número 1: 4
Digite o número 2: 5
5.0 é maior que 4.0

Escreva um programa que verifique se um determinado número digitado pelo usuário é nulo, positivo ou negativo.

In [ ]:
#Exercício 26:
num = float(input('Digite um número: '))
if num > 0:
  print('O número é positivo')
elif num < 0:
  print('O número é negativo')
else:
  print('O número é nulo')

Digite um número: 0
O número é nulo

Escreva um programa que receba três números do usuário e mostre na tela o maior número digitado.

In [ ]:
#Exercício 27
num1 = float(input('Digite um número: '))
num2 = float(input('Digite um número: '))
num3 = float(input('Digite um número: '))

if num1 >= num2 and num1 >= num3:
  print(f'Maior número é: {num1}')
elif num2 >= num1 and num2 >= num3:
  print(f'Maior número é: {num2}')
else:
  print(f'Maior número é: {num3}')

Digite um número: 1
Digite um número: 5
Digite um número: 9
Maior número é: 9.0

Escreva um programa que gere um número aleatório entre 1 e 100 e mostre na tela.

Dica: utilize o módulo random.

In [ ]:
#Exercício 28
import random
num = random.randint(1, 100)
print(num)

47

Elabore um progama para verificar se um ano é bissexto ou não. A condição para ser um ano bissexto é: o ano deve ser divisível por 400; ou se for divisível por 4 e não for divisível por 100.

In [ ]:
#Exercício 29
ano = int(input('Ano: '))
if ano % 400 == 0 or (ano % 4 == 0 and ano % 100 != 0):
  print(f'O ano {ano} é bissexto!')
else:
  print(f'O ano {ano} não é bissexto!')

Ano: 20022
O ano 20022 não é bissexto!

Elabore um programa para calcular o tamanho de uma string.

In [ ]:
#Exercício 30
string = input('Digite algo: ')
print(f'Tamanho da string é: {len(string)}')

Digite algo: teste 2
Tamanho da string é: 7

Utilize o módulo datetime e mostre na tela a data e hora atual do sistema de acordo com o formato descrito abaixo.

In [ ]:
#Exercício 31
import datetime
data_atual = datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

20/06/2023 - 17:51:50

Escreva um programa que inverta uma string. Exemplos:

Hello World!

Python

!dlroW olleH

nohtyP

In [ ]:
#Exercício 32
string1 = 'Hello World!'
string2 = 'Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World!
Python
!dlroW olleH
nohtyP

Escreva um programa para mostrar na tela o calendário do mês de dezembro de 2020. Exemplo:

![image.png]()

Dica: importe o módulo calendar.

In [ ]:
#Exercício 33
import calendar
print(calendar.month(2020,12))

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

Modifique o programa anterior e permita que o usuário especifique o ano e o mês a serem mostrados na tela.

In [ ]:
#Exercício 34
import calendar
mes = int(input('Digite o mês:'))
ano = int(input('Digite o ano: '))

print(calendar.month(ano, mes))

Digite o mês:12
Digite o ano: 2020
   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

Escreva um script que mostre na tela o preço de um produto associado a uma categoria especificada pelo usuário. Utilize como referência as informações a seguir. Caso o usuário não digite uma categoria válida (número entre 1 e 10) mostre na tela uma mensagem personalizada.

![image.png]()

In [ ]:
#Exercício 35
categoria = int(input())

if categoria==1:
    print('O preço do produto é: $ 0.5')
elif categoria==2:
    print('O preço do produto é: $ 11.3')
elif categoria==3:
    print('O preço do produto é: $ 17.5')
elif categoria==4:
    print('O preço do produto é: $ 33.97')
elif categoria==5:
    print('O preço do produto é: $ 103.47')
elif categoria==6:
    print('O preço do produto é: $ 44.67')
elif categoria==7:
    print('O preço do produto é: $ 12.55')
elif categoria==8:
    print('O preço do produto é: $ 14.87')
elif categoria==9:
    print('O preço do produto é: $ 98.12')
elif categoria==10:
    print('O preço do produto é: $ 131.4')
else:
    print('Opção inválida.')

1
O preço do produto é: $ 0.5

Resolva o exercício anterior para as categorias de 1 a 8. Utilize estruturas aninhadas.

In [ ]:
#Exercício 36
categoria=int(input('Categoria do produto: '))
if categoria==1:
    print('Preço: $ 0.5')
else:
    if categoria==2:
        print('Preço: $ 11.35')
    else:
        if categoria==3:
            print('Preço: $ 17.5')
        else:
            if categoria==4:
                print('Preço: $ 33.97')
            else:
                if categoria==5:
                    print('Preço: $ 103.47')
                else:
                    if categoria==6:
                        print('Preço: $ 44.67')
                    else:
                        if categoria==7:
                            print('Preço: $ 12.55')
                        else:
                            if categoria==8:
                                print('Preço: $ 14.87')
                            else:
                                print('Categoria inválida.')

Categoria do produto: 5
Preço: $ 103.47

Determine se uma letra inserida pelo usuário é uma vogal ou consoante. Armazene as vogais em uma lista e implemente sua solução. Desconsidere a possibilidade de o usuário inserir números ou caracteres especiais.

In [ ]:
#Exercício 37
letra = input('Digite uma letra: ')
vogais = ['a', 'e', 'i', 'o', 'u']
if letra in vogais:
  print(f'A letra {letra} é uma vogal')
else:
  print(f'A letra {letra} é uma consoante')

Digite uma letra: i
A letra i é uma vogal

Escreva um script para classificar um triângulo de acordo com o tamanho dos seus lados. Considere as seguintes informações:

Triângulo equilátero: todos os lados possuem o mesmo tamanho;

Trângulo escaleno: todos os lados possuem medidas diferentes;

Triângulo isósceles: caracterizado por ter dois lados com o mesmo tamanho.

In [ ]:
#Exercício 38
ladoA = float(input('Digite o valor do Lado A: '))
ladoB = float(input('Digite o valor do Lado B: '))
ladoC = float(input('Digite o valor do Lado C: '))

if ladoA == ladoB == ladoC:
  print('O triânglo é equilatero')
elif ladoA==ladoB or ladoA == ladoC or ladoB == ladoC:
  print('O triângulo é isóceles')
else:
  print('O triângulo é escaleno')

Digite o valor do Lado A: 2
Digite o valor do Lado B: 2
Digite o valor do Lado C: 2
O triânglo é equilatero

Implemente uma calculadora simples com as operações aritméticas básicas. O usuário deverá especificar a operação desejada (+,-,*,/) e seguidamente inserir dois valores. Caso, o usuário escolha divisão e insira o valor do denominar 0 mostre uma mensagem personalizada. Para os demais casos, mostre na tela o resultado da operação desejada.

In [ ]:
#Exercício 39
operacao = input('Informe uma operação matemática: ')

if operacao in ['+','-','*','/']:
 num1 = float(input("Digite o primeiro número: "))
 num2 = float(input("Digite o segundo número: "))
 if operacao == '+':
  print(f'{num1} + {num2} = {num1+num2}')
 elif operacao == '-':
  print(f'{num1} - {num2} = {num1-num2}')
 elif operacao == '*':
  print(f'{num1} * {num2} = {num1*num2}')
 else:
  if num2 == 0:
    print('Em uma divisão o numerador não pode ser zero.')
  else:
    print(f'{num1} / {num2} = {num1/num2}')
else:
  print('Opção inválida3')

Informe uma operação matemática: /
Digite o primeiro número: 8
Digite o segundo número: 0
Em uma divisão o numerador não pode ser zero.

Escreva um programa que mostre de 1 até 50 na tela.

In [ ]:
#Exercício 40
for n in range(1,51):
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

Escreva um programa que mostre de 50 até 1 na tela.

In [ ]:
#Exercício 41
for n in range(50,0,-1):
  print(n)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

Escreva um programa que mostre de 150 até 200 na tela.

In [ ]:
#Exercício 42
for n in range(150, 201):
  print(n)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico:

In [ ]:
#Exercício 43
for n in range(5,-1,-1):
  print(n)

5
4
3
2
1
0

Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.

In [ ]:
#Exercício 44
num = int(input())
for n in range(1, num + 1):
  print(n)

5
1
2
3
4
5

Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.

In [ ]:
#Exercício 45
for n in range(1,21):
  print(n*5)

#OU
print('\n******************************************************************\n')
lista = []
i = 1

while len(lista) < 20:
  if i % 5 == 0:
    lista.append(i)
    i+=1
  else:
    i+=1

for n in lista:
  print(n)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

******************************************************************

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.

In [ ]:
#Exercício 46
num = int(input())

for n in range(11):
  print(f'{num} x {n} = {num*n}')

5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10, como segue.

![image.png]()

In [ ]:
#Exercício 47
for x in range(1,11):
  for y in range(1,11):
    print(f'{x} x {y} = {x*y}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while. O resultado do seu programa deverá ter o seguinte formato:

In [ ]:
#Exercício 48
i = 1
for x in range(1,11):

  print(x)
  if x == 10:

    while i <= 10:
      print(i)
      i+=1

      if i == 11:
        y = 1

        while y <= 10:
         print(y)
         y+=1

         if y == 11:
          print('Fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim

Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [ ]:
#Exercício 49
num = 0

while 0 <= num <= 10:
  num = int(input('Insira um número entre 0 e 10: '))
  if num < 0 or num > 10:
    print('Fim do programa')

Insira um número entre 0 e 10: 2
Insira um número entre 0 e 10: 2
Insira um número entre 0 e 10: 1
Insira um número entre 0 e 10: 11
Fim do programa

Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [ ]:
#Exercício 50
for i in range(0,6):
    print(i)

    if i==5:
        for j in range(0,6):
            print(j)

            if j==5:
                for k in range(0,6):
                    print(k)

                    if k==5:
                        for l in range(0,6):
                            print(l)

                            if l==5:
                                for m in range(0,6):
                                    print(m)

                                    if m==5:
                                        print('Fim')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim

Desenvolva um programa de calculadora simples, que seja capaz de tratar exceções como, por exemplo, divisão por zero. No caso de uma divisão por zero, o programa deve informar o usuário e permitir que o mesmo insira outro denominador.

In [ ]:
#Exercício Extra
operador = input('Digite um operador: ')

if operador in ['+','-','*','/']:
 num1 = float(input("Digite o primeiro número: "))
 num2 = float(input("Digite o segundo número: "))
 if operador == '+':
  print(f'{num1} + {num2} = {num1+num2}')
 elif operador == '-':
  print(f'{num1} - {num2} = {num1-num2}')
 elif operador == '*':
  print(f'{num1} * {num2} = {num1*num2}')
 else:
  try:
    print(f'{num1} / {num2} = {num1/num2}')
  except:
    while num2 == 0:
     print('Em uma divisão o numerador não pode ser zero!')
     num2 = float(input('Digite o numerador: '))
     print(f'{num1} / {num2} = {num1/num2}')
else:
  print('Opção inválida')

Digite um operador: /
Digite o primeiro número: 2
Digite o segundo número: 0
Em uma divisão o numerador não pode ser zero!
Digite o numerador: 1
2.0 / 1.0 = 2.0